@font-face {
	font-family: 'adelleregularwebfont';
	src: url('./adelleregularwebfont.eot');
	src: local('adelleregularwebfont'), url('./adelleregularwebfont.woff') format('woff'), url('./adelleregularwebfont.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_30477">Text with this font applied</p> */
.fontsforweb_fontid_30477 {
	font-family: 'adelleregularwebfont' !important;
}

/* Font downloaded from FontsForWeb.com */