* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.patternX {
  position: absolute;
  top: 60vh;
  right: -50vw;
  opacity: 0;
}
.patternXX {
  position: absolute;
  top: 60vh;
  left: -50vw;
  opacity: 0;
}


.patternX.is-visible{
  opacity:1;
  transform: translateX(-70vw);
  transition: transform 0.7s ease-in-out 0.3s;
}

.patternXX.is-visible{
  opacity:1;
  transform: translateX(70vw) ;

  transition: transform 0.7s ease-in-out 0.3s;
}


.boxX {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
  background: #1e1824;
  animation: shadow 4s;
}
.boxX:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
.boxX:hover circle {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: -webkit-grab;
  cursor: grab;
}
.boxX:hover .play {
  display: none;
}
.boxX:hover .pause {
  display: block;
}
.boxX:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.animate-lp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: circle-push 1s;
}

.circle-highlight {
  opacity: 0.1;
  animation: circle-fill 10s linear forwards infinite;
}

.circle-purple-animate {
  animation: circle-fill 6s linear forwards infinite;
  transform: rotate(-30deg);
  transform-origin: center;
  stroke-dasharray: 20;
}
.circle-white-animate {
  animation: circle-fill 8s linear forwards infinite;
  transform: rotate(-120deg);
  transform-origin: center;
  stroke-dasharray: 25;
}
.circle-lines {
  animation: circle-fill 5s linear forwards infinite;
  transform: rotate(-130deg);
  transform-origin: center;
}

@keyframes circle-fill {
  from {
    stroke-dashoffset: 700;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes circle-push {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}



#camera-body,
#reel-1,
#reel-2 {
fill: #03102d;
  fill-opacity: 1;
  stroke: none;
}
.spaceX {
  position: absolute;
  top: 60vh;
  left: -50vw;
  opacity: 0;
  zoom:1.2;
}
.spaceXX {
  position: absolute;
  top: 60vh;
  right: -50vw;
  opacity: 0;
  zoom:1.2;
}
.spaceX.is-visible{
  opacity:1;
  transform: translateX(60vw) ;
  transition: transform 0.7s ease-in-out 0.3s;
}
.spaceXX.is-visible{
  opacity:1;
  transform: translateX(-60vw) scale(-1,1);
  transition: transform 0.7s ease-in-out 0.3s;
}


.icon-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;

    min-height: 400px;
}
.ac-animated-svg-icon {
  left: 50%;
  top: 56.5%;
  transform: translateX(-50%) translateY(-50%);

}
/*optional animation on hover toggle button */
.toggle-button {
  position: absolute;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: background-color 0.5s;
  z-index: 1;
}
.toggle-button:hover {
  background-color: rgba(255, 255, 255, 1);
}
.toggle-button.toggle-on {
  background-color: rgba(28, 186, 110, 0.5);
}
.toggle-button.toggle-on:hover {
  background-color: rgba(28, 186, 110, 1);
}
/*optional ends*/

.ac-animated-svg-icon {
    /*icon - size*/
    width: 300px;
    height: 300px;

    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-align: center;

    cursor: pointer;
}
.ac-animated-svg-icon .ac-animated-svg-icon-contents {
    position: absolute;
    /* icon - padding */
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
}
.ac-animated-svg-tv {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.ac-animated-svg-tv .svg-tv {
    padding-top: 20%;
	height: 100%;
    padding-bottom: 4%;
	position: relative;
	z-index: 1;
    box-sizing: border-box;
}

.ac-animated-svg-tv .svg-antenna-left {
    position: absolute;
    left: 29%;
    width: 18%;
    top: 0px;
}

.ac-animated-svg-tv .svg-antenna-right {
    position: absolute;
    left: 54%;
    width: 18%;
    top: 0px;
}

.ac-animated-svg-tv .svg-antenna-left, .ac-animated-svg-tv .svg-antenna-right {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.ac-animated-svg-icon:hover .ac-animated-svg-tv .svg-antenna-left, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-tv .svg-antenna-left {
    -webkit-animation: acAnimatedSvgIconTVAntennaLeftAnimation 4s linear infinite;
    -moz-animation: acAnimatedSvgIconTVAntennaLeftAnimation 4s linear infinite;
    -ms-animation: acAnimatedSvgIconTVAntennaLeftAnimation 4s linear infinite;
    -o-animation: acAnimatedSvgIconTVAntennaLeftAnimation 4s linear infinite;
    animation: acAnimatedSvgIconTVAntennaLeftAnimation 4s linear infinite;
}

@-webkit-keyframes acAnimatedSvgIconTVAntennaLeftAnimation {
    0% {
        transform: rotateZ(0deg);
    }
    /* 1 */
    1% {
        transform: rotateZ(3deg);
    }
    2% {
        transform: rotateZ(0deg);
    }
    3% {
        transform: rotateZ(-3deg);
    }
    4% {
        transform: rotateZ(0deg);
    }
    /* 2 */
    5% {
        transform: rotateZ(3deg);
    }
    6% {
        transform: rotateZ(0deg);
    }
    7% {
        transform: rotateZ(-3deg);
    }
    8% {
        transform: rotateZ(0deg);
    }
    /* 3 */
    9% {
        transform: rotateZ(3deg);
    }
    10% {
        transform: rotateZ(0deg);
    }
    11% {
        transform: rotateZ(-3deg);
    }
    12% {
        transform: rotateZ(0deg);
    }
}

.ac-animated-svg-icon:hover .ac-animated-svg-tv .svg-antenna-right, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-tv .svg-antenna-right {
    -webkit-animation: acAnimatedSvgIconTVAntennaRightAnimation 4s linear infinite;
    -moz-animation: acAnimatedSvgIconTVAntennaRightAnimation 4s linear infinite;
    -ms-animation: acAnimatedSvgIconTVAntennaRightAnimation 4s linear infinite;
    -o-animation: acAnimatedSvgIconTVAntennaRightAnimation 4s linear infinite;
    animation: acAnimatedSvgIconTVAntennaRightAnimation 4s linear infinite;
}

@-webkit-keyframes acAnimatedSvgIconTVAntennaRightAnimation {
    0% {
        transform: rotateZ(0deg);
    }
    /* 1 */
    2% {
        transform: rotateZ(3deg);
    }
    3% {
        transform: rotateZ(0deg);
    }
    4% {
        transform: rotateZ(-3deg);
    }
    5% {
        transform: rotateZ(0deg);
    }
    /* 2 */
    6% {
        transform: rotateZ(3deg);
    }
    7% {
        transform: rotateZ(0deg);
    }
    8% {
        transform: rotateZ(-3deg);
    }
    9% {
        transform: rotateZ(0deg);
    }
    /* 3 */
    10% {
        transform: rotateZ(3deg);
    }
    11% {
        transform: rotateZ(0deg);
    }
    12% {
        transform: rotateZ(-3deg);
    }
    13% {
        transform: rotateZ(0deg);
    }
}

.ac-animated-svg-tv .svg-line-top {
    position: absolute;
    left: 50%;
    width: 35%;
    top: 0px;
    transform: translateX(-50%);
}

.ac-animated-svg-icon:hover .ac-animated-svg-tv .svg-line-top, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-tv .svg-line-top {
    -webkit-animation: acAnimatedSvgIconTVLineTopAnimation 4s linear infinite;
    -moz-animation: acAnimatedSvgIconTVLineTopAnimation 4s linear infinite;
    -ms-animation: acAnimatedSvgIconTVLineTopAnimation 4s linear infinite;
    -o-animation: acAnimatedSvgIconTVLineTopAnimation 4s linear infinite;
    animation: acAnimatedSvgIconTVLineTopAnimation 4s linear infinite;
}

@-webkit-keyframes acAnimatedSvgIconTVLineTopAnimation {
    0% {
        opacity: 0;
    }
    14% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    18% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    22% {
        opacity: 0;
    }
    24% {
        opacity: 1;
    }
}

.ac-animated-svg-tv .svg-line-bottom {
    position: absolute;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
}

.ac-animated-svg-tv .svg-line-bottom-1 {
    top: 47%;
}

.ac-animated-svg-tv .svg-line-bottom-2 {
    top: 57%;
}

.ac-animated-svg-tv .svg-line-bottom-3 {
    top: 67%;
}

.ac-animated-svg-icon:hover .ac-animated-svg-tv .svg-line-bottom, .ac-animated-svg-icon.ac-svg-animated .ac-animated-svg-tv .svg-line-bottom {
    -webkit-animation: acAnimatedSvgIconTVLineBottomAnimation 4s linear infinite;
    -moz-animation: acAnimatedSvgIconTVLineBottomAnimation 4s linear infinite;
    -ms-animation: acAnimatedSvgIconTVLineBottomAnimation 4s linear infinite;
    -o-animation: acAnimatedSvgIconTVLineBottomAnimation 4s linear infinite;
    animation: acAnimatedSvgIconTVLineBottomAnimation 4s linear infinite;
}

@-webkit-keyframes acAnimatedSvgIconTVLineBottomAnimation {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    22% {
        opacity: 1;
    }
    24% {
        opacity: 0;
    }
    26% {
        opacity: 1;
    }
}

.ac-animated-svg-tv .svg-shadow {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    display: none;
}
.ac-animated-svg-icon.ac-svg-shadow .ac-animated-svg-tv .svg-shadow {
    display: block;
}

.tvX {
  position: absolute;
  top: 40%;
  right: -50vw;
  opacity: 0;
}
.tvX.is-visible{
  opacity:1;
  transform: translateX(-70vw);
  transition: transform 0.7s ease-in-out 5.3s;
}
@media screen and (orientation:portrait){
  .tvX , .spaceX , .patternX, .patternXX,.spaceXX{
    display: none;
  }
}
